<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Warehouse</title>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>

<th:block th:include="~{/fragments/header}"/>

<div style="wrapper">
    <main class="p-5 align-content-center bg-blur my-register-div">
        <h1 class="border-bottom mb-5">Order</h1>
    </main>
</div>

<h2>
    [[*{order.user.getProfile().getFullName()}]]
</h2>

<table class="table table-striped table-hover">
    <thead class="thead-dark" data-bs-theme="dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>

    </tr>
    </thead>

    <tbody class="table-group-divider">
    <tr th:each="item : ${items}">
        <td>
            [[*{item.name}]]
        </td>
        <td>
            [[*{item.quantity}]]
        </td>
        <td>
            [[*{item.price}]]
        </td>
    </tr>
    </tbody>
</table>

<h1>
    Total: <span>[[*{order.total}]]</span>
</h1>

<h1>
    Shipping Address:
</h1>
<h5>

    <table class="table table-borderless">
        <tbody>
        <tr>
            <th scope="row">Town:</th>
            <td>[[${order.address.town}]]</td>
        </tr>
        <tr>
            <th scope="row">Neighbourhood:</th>
            <td>[[*{order.address.getNeighbourhood()}]]</td>
        </tr>
        <tr th:if="${order.address.streetName != ''}">
            <th scope="row">Street Name:</th>
            <td>[[*{order.address.getStreetName()}]]</td>
        </tr>
        <tr th:if="${order.address.streetNumber != ''}">
            <th scope="row">Street Number:</th>
            <td>[[*{order.address.getStreetNumber()}]]</td>
        </tr>
        <tr th:if="${order.address.buildingNumber != ''}">
            <th scope="row">Building Number:</th>
            <td>[[*{order.address.getBuildingNumber()}]]</td>
        </tr>
        <tr th:if="${order.address.entrance != ''}">
            <th scope="row">Entrance:</th>
            <td>[[*{order.address.getEntrance()}]]</td>
        </tr>
        <tr th:if="${order.address.floor != ''}">
            <th scope="row">Floor:</th>
            <td>[[*{order.address.getFloor()}]]</td>
        </tr>
        <tr th:if="${order.address.apartment != ''}">
            <th scope="row">Apartment:</th>
            <td>[[*{order.address.getApartment()}]]</td>
        </tr>
        </tbody>
    </table>

</h5>

<form th:action="@{/admin/orders/confirm/{id}(id=${order.id})}"
      th:method="post">
    <button type="submit" class="btn btn-success">Confirm Order</button>
</form>

</body>
</html>