<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Warehouse</title>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>

<th:block th:include="~{/fragments/header}"/>

<div style="wrapper">
    <h1>Your Shopping Cart:</h1>

    <div class="row m-1">

        <div class="col-sm-8">
            <th:block th:each="item, status : ${cartItems}">
                <div class="row border rounded" th:with="product=${item.product}"
                th:id="'row' + ${status.count}">
                    <div class="col-1">
                        <div>[[${status.count}]]</div>
                        <div>
                            <a class="fas fa-trash icon-dark link-remove"
                               th:rowNumber="${status.count}"
                               th:href="@{'/users/cart/remove/' + ${product.id}}">
                                <iconify-icon icon="ion:trash-outline"></iconify-icon>
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <img th:src="@{${'/images/ProductImages/' + product.imageList[0].name}}" class="img-fluid"/>
                    </div>
                    <div class="col-6">
                        <div>
                            <a th:href="@{/products/{id}(id=${product.id})}" th:title="${product.name}" target="_self">
                                <b>[[${product.name}]]</b>
                            </a>
                        </div>

                        <div th:replace="quantity_control :: quantity_control(${item.quantity}, ${item.product.id})">
                            Quantity
                        </div>
                        <div>
                            <span>X</span>
                            <span>[[${product.price}]]</span>
                        </div>
                        <div>
                            <span>=&nbsp;</span>
                            <span class="h4 productSubtotal"
                                  th:id="'subtotal' + ${product.id}">[[${item.subtotal}]]</span>
                        </div>
                    </div>
                </div>
                <div class="row m-1">&nbsp;</div>
            </th:block>
        </div>

        <div class="col-sm-4">
            <div>
                <span class="h3">Estimated total:</span>
            </div>
            <div class="mt-2">
                <span class="h2" id="totalAmount">[Total Amount]</span>
            </div>
            <div class="mt-2">
                <button class="btn btn-danger p-3 mt-2">Check Out</button>
            </div>
        </div>

    </div>

</div>

<div th:replace="fragments :: standard_modal">Standard Modal Dialog</div>

<script type="text/javascript">
        contextPath = "[[@{/}]]";
        var crsfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
</script>

<script th:src="@{/js/shopping_cart.js}"></script>

</body>
</html>