<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Warehouse</title>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>

<th:block th:include="~{/fragments/header}"/>

<div style="wrapper">
    <main class="p-5 align-content-center bg-blur my-register-div">
        <h1 class="border-bottom mb-5">Orders</h1>
    </main>
</div>

<table class="table table-striped table-hover">
    <thead class="table-dark" data-bs-theme="dark">
    <tr>
        <th scope="col">Order Date</th>
        <th scope="col">Number of products</th>
        <th scope="col">Total</th>
        <th scope="col">Prepared On</th>
        <th scope="col">View Order</th>
        <th scope="col">Cancel Order</th>
    </tr>
    </thead>

    <tbody class="table-group-divider">
    <tr th:each="order : ${orders}">
        <td th:text="${#dates.format(order.submittedOn, 'dd-MMM-yyyy HH:mm')}">
            [[*{order.submittedOn}]]
        </td>
        <td>
            [[*{order.items.size()}]]
        </td>
        <td>
            [[*{order.total}]]
        </td>
        <td th:text="${#temporals.format(order.completedOn, 'dd-MMM-yyyy HH:mm')}">
            [[*{order.completedOn}]]
        </td>
        <td>
            <a th:href="@{/users/orders/{id}(id=${order.id})}" class="btn btn-warning">View Order</a>
        </td>
        <td>
            <button class="btn btn-danger" type="submit">Cancel Order</button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>