<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="standard_modal" class="modal fade text-center" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warning</h4>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                <!--                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>-->
            </div>

            <div class="modal-body">
                <span id="modalBody"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>