<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Login</title>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>
<div class="wrapper">
    <th:block th:include="~{/fragments/header}"/>

    <main class="p-5 align-content-center bg-blur my-register-div">


        <h1 class="border-bottom mb-5">Login</h1>

        <div class="d-flex justify-content-center">

            <div class="row g-3 align-items-center">
                <div th:if="${param.error}">


                    <div class="alert alert-danger" role="alert">
                        <p>[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    </div>

                    <script type="text/javascript">

                        $(document).ready(function () {

                        window.setTimeout(function() {
                        $(".alert").fadeTo(2000, 500).slideUp(1000, function(){
                        $(this).remove();
                        });
                        }, 5000);
                        });

                    </script>
                </div>

                <form
                        th:action="@{/users/login}"
                        th:object="${loginForm}"
                        method="post">
                    <div>

                        <div class="form-floating mb-3">
                            <input type="email"
                                   name="username"
                                   errorclass="is-invalid"
                                   minlength="4" maxlength="30"
                                   aria-describedby="usernameHelpInline"
                                   class="form-control"
                                   id="inputUsername"
                                   placeholder="name@example.com">

                            <label for="inputUsername">Username</label>

                        </div>

                    </div>

                    <div>

                        <div class="form-floating mb-3">
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   id="inputPassword"
                                   placeholder="Password">
                            <label class="text-dark" for="inputPassword">Password</label>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

</body>
</html>
