<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Register</title>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>
<div class="wrapper">
    <th:block th:include="~{/fragments/header}"/>
    <main class="p-5 align-content-center bg-blur my-register-div">

        <!-- Navigation -->

        <h1 class="border-bottom">Register</h1>

        <div class="d-flex justify-content-center ">
            <div class="row g-3">

                <form
                        class="registration-form"
                        th:action="@{/users/register}"
                        th:method="post"
                        th:object="${userRegistrationDTO}">

                    <div>
                        <div class="col-auto">
                            <label for="inputUsername" class="col-form-label ">Username</label>
                        </div>
                        <div class="col-auto">
                            <input name="username"
                                   th:field="*{username}"
                                   th:errorclass="is-invalid"
                                   required
                                   minlength="5" maxlength="30"
                                   type="text"
                                   id="inputUsername"
                                   class="form-control"
                                   aria-describedby="usernameHelpInline"/>

                            <small class="bg-danger rounded text-white padding-2" th:if="${#fields.hasErrors('username')}" th:errorclass="is-invalid" th:errors="*{username}" />

                        </div>
                    </div>

                    <div>
                        <div class="col-auto">
                            <label for="inputPassword" class="col-form-label ">Password</label>
                        </div>
                        <div class="col-auto">
                            <input name="password"
                                   th:field="*{password}"
                                   th:errorclass="is-invalid"
                                   required
                                   type="password"
                                   id="inputPassword"
                                   class="form-control"
                                   aria-describedby="passwordHelpInline">


                            <small class="bg-danger rounded text-white" th:if="${#fields.hasErrors('password')}" th:errorclass="is-invalid" th:errors="*{password}" />

                        </div>
                    </div>

                    <div>
                        <div class="col-auto">
                            <label for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
                        </div>
                        <div class="col-auto">
                            <input name="confirmPassword"
                                   th:field="*{confirmPassword}"
                                   th:errorclass="is-invalid"
                                   required
                                   type="password"
                                   id="inputConfirmPassword"
                                   class="form-control"
                                   aria-describedby="confirmPasswordHelpInline">


                            <small class="bg-danger rounded text-white" th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="is-invalid" th:errors="*{confirmPassword}" />

                        </div>
                    </div>


                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-primary btn-block w-50" type="submit" id="registerButton">Register
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </main>
</div>


</body>
</html>