<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Warehouse</title>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>
<th:block th:insert="~{/fragments/nav}"/>
<div style="wrapper">
</div>


<div>
    <div class="card mt-2" style="width: 18rem;" th:each="product : ${products}">

        <img th:src="@{'/images/ProductImages/' + ${product.imageList[0].name}}" class="card-img-top" }>

        <div class="card-body">
            <h5 class="card-title">[[*{product.name}]]</h5>
            <!--            TODO add the quantity to the url line-->
            <p class="card-text">[[*{product.details}]]</p>
            <form th:method="post" th:action="@{'/users/cart/add/' +${product.id} + '/' + ${qtyValue} }">
            </form>

            <div th:replace="quantity_control :: quantity_control(1, ${product.id})">Quantity</div>
            <button type="submit" class="btn btn-primary" id="buttonAdd2Cart">Add to Cart</button>


            <div th:replace="fragments :: standard_modal">Standard Modal Dialog</div>

        </div>
    </div>
</div>

<script type="text/javascript">
        contextPath = "[[@{/}]]";
        var crsfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";

<!--        $(document).ready(function(){-->
<!--            $(".img-thumbnail").mouseover(function(){-->
<!--                $("#bigImage").attr("src", $(this).attr("src"));-->
<!--                $("#bigImage").attr("index", $(this).attr("index"));-->
<!--            });-->

<!--            $("#bigImage").on("click", function() {-->
<!--                $("#carouselModal").modal("show");-->
<!--                imageIndex = $("#bigImage").attr("index");-->
<!--                $("#carouselExampleControls").carousel(parseInt(imageIndex));-->
<!--            });-->
<!--        });-->
    </script>

</body>
</html>