<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Warehouse</title>
    <th:block th:include="~{/fragments/head}"/>
</head>
<body>

<th:block th:include="~{/fragments/header}"/>

<div style="wrapper">
</div>


<div>
    <div class="card mt-2" style="width: 18rem;" th:each="product : ${products}">

        <img th:src="@{'/images/ProductImages/' + ${product.imageList[0].name}}" class="card-img-top" }>

        <div class="card-body">
            <h5 class="card-title">[[*{product.name}]]</h5>

            <p class="card-text">[[*{product.details}]]</p>

            <a th:href="@{/products/{id}(id=${product.id})}" class="btn btn-primary">View Product</a>


            <div th:replace="fragments :: standard_modal">Standard Modal Dialog</div>

        </div>
    </div>
</div>


</body>
</html>